.banner {
  height: 500px;
  background: url("https://cdn-image.departures.com/sites/default/files/1547492339/gold-luxury-wedding-bridal-dress-GOLDWEDDING0119.jpg") no-repeat center center fixed;
  background-size: auto;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

