.button {
  padding: 10px 24px;
  background: #EE9583;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 40.017px;
  color: white;
  transition: background 0.3s ease;
  margin-bottom: 10px;
  &:hover {
    color: #EE9583;
    background-color: white;
    border: 1px solid #EE9583;
  }
  a {
    text-decoration: none !important;
    color: white;
    text-align: center;
  }
}
