.button {
  padding: 10px 24px;
  background: #EE9583;
  box-shadow: 16.0068px 16.0068px 40.017px rgba(0, 0, 0, 0.25);
  border-radius: 40.017px;
  color: white;
  transition: background 0.3s ease;
  margin-left: 60%;
  &:hover {
    color: #EE9583;
    background-color: white;
    border: 1px solid #EE9583;
  }
  a {
    text-decoration: none !important;
    color: white;
    text-align: center;
  }
}
