.navbar-lewagon {
  justify-content: space-between;
  background: white;
  top: 0;
  width: 100%;
  z-index: 10000;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 146px;
    height: 48px;
}

.form-control {
  width: 450px;
  border-radius: 5px;
}

#welcome {
    margin-right: 30px;
    align-items: center;
    display: flex;
}

.notice {
  margin: 0;
}

.avatar {
  width: 40px;
    height: 40px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    box-shadow: 1px 1px 4px 1px lightgrey;
    margin-left: 10px;
    background-color: #EE9583;
    color: white;
    font-family: cursive;
    padding-top: 8px;
}

