// bookings/show.scss
.big-box {
  display: flex;
}

.img {
  margin: 20px;
  margin-left: 3%;
}

.container .confirm {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 300px;
}
